<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nwda/
    # Example rule to route all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
